#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

#Some VS Python files
*.pyproj
*.sln
*.suo

#Ignore PyCharm files
.idea/

#Ignore some Python files
*.pyc

#Project-specific files to ignore
serverSettings/**
data/*
!data/generators/
!data/apikeys.json.example
ToDo.txt
Program.log
Program.log.*

#The debug module is only for testing, don't include it
commands/debug.py

#The example settings file should be in the repo
!serverSettings/globalsettings.json.example

#My local quickstart script doesn't belong in the repo
botstart.bat
