[connection]
server=
port=6667
nickname=DideRobot
realname=DideRobot
maxConnectionRetries=5

[scripts]
keepChannelLogs=true
keepPrivateLogs=true
keepSystemLogs=true
commandPrefix=!
joinChannels=
allowedChannels=
admins=
userIgnoreList=
