{
	"google": "your key here",
	"imgur": {
		"clientid": "your key here",
		"clientsecret": "your secret here"
	},
	"locatorhq": {
		"key": "your key here",
		"username": "your username here"
	},
	"mashape": "your key here",
	"merriamwebster": "your key here",
	"openweathermap": "your key here",
	"paste.ee": "your key here",
	"twitch": {
		"access_token": "your access token will be generated here", 
		"client_id": "your client ID here", 
		"client_secret": "your client secret here", 
		"expiration_time": "your access token's expiration time will be stored here"
	},
	"twitter": {
		"key": "your key here",
		"secret": "your secret here",
		"token": "your token will be generated here",
		"tokentype": "your token type will be generated here"
	},
	"wolframalpha": "your key here"
}